.photoGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5em;
    grid-gap: 0.5em;
}

.showPhoto{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.showPhoto:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}