html{
    font-family: 'Nunito Sans', sans-serif;
    padding: 0px;
    margin: 1px;
}

body{
    padding: 0px;
    margin: 0px;
}

h1{
    letter-spacing: 0.1em;
}

#centered{
    text-align: center;
}

.code{
    margin-left: auto;
    margin-right: auto;
}

.photoGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.centeredPhoto{
    width: 100%;
}

.parallax{
    background-image: url(DSC_9069.JPG);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
    background-image: url(Computer2.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.caption{
    position: absolute;
    left: 0;
    top: 40vh;
    width: 100%;
    text-align: center;
    color: #000;

}

span.FrontLogo{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(143, 143, 143);
    color: #fff;
    padding: 0.5em;
    font-size: 2em;
    letter-spacing: 0.2em;;
}